{% extends 'main/base.html' %}
{% load static custom_filters %}
{% block content %}
<div class="container mx-auto mt-4">
    <div class="xl:w-3/12 lg:w-5/12 md:w-1/2 w-full mx-auto">
        <form action="" method="post" class="rounded-xl bg-slate-200 p-3 shadow md">
            {% csrf_token %}
            <p class="text-center">{% if page == 'login' %}ورود{% else%}ثبت نام{% endif %}</p>
            {% if page == 'login' and msg == 'register error' %}
            <p class="notif-red mt-1 px-1 pb-2">نام کاربری اشتباه است</p>
            {% endif %}

            {% if form.errors and 'password error' in form.errors|get:'__all__' %}
                <p class="notif-red mt-1 px-1 pb-2">رمز عبور و تکرار ان با هم برابر نیستند.</p>
            {% endif %}
            {% for field in form %}
                {% if field.field.widget.input_type == 'checkbox' %}
                <div class="flex mt-3">
                    {{ field }}
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                </div>
                {% else %}
                <div class="flex justify-between mt-3">
                    <label for="{{ field.id_for_label }}">{{ field.label }}:</label>
                    {{ field }}
                </div>
                {% endif %}
                {% if field.errors %}
                    {% for error in field.errors %}
                        <p class="notif-red mt-1 px-1 pb-2">{{ error }}</p>
                    {% endfor %}
                {% endif %}
            {% endfor %}

            
            <button type="submit" class="px-2 pb-3 pt-1 mt-3 bg-green-500 rounded-lg">{% if page == 'login' %}ورود{% else %}ثبت نام{% endif %}</button>
            <div class="flex justify-center my-3">
                <a href="{% if page == 'login' %}/signup/{% else %}/login/{% endif %}" class="py-2 px-3 text-blue-600 hover:underline rounded-r-lg">{% if page == 'login' %}ثبت نام{% else %}ورورد{% endif %}</a>
            </div>
        </form>
    </div>
</div>
{% endblock %}