{% load static %}
<!DOCTYPE html>
<html lang="en" class="">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/all.css" >

      <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-duotone-solid.css" >

      <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-thin.css" >

      <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-solid.css" >

      <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-regular.css" >

      <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.6.0/css/sharp-light.css">
</head>

<body dir="rtl" class="dark:bg-gray-500">
    <!-- Menu -->
    <nav>
        <div class="container mx-auto flex justify-between px-3 py-2 bg-gray-200 rounded-md">
            <a class="flex items-center mr-1 font-bold text-orange-600">
                <img class="max-w-8 max-h-8" src="./images/file-engine.png" alt="">
                ExCelery
            </a>
            <div class="hidden md:flex gap-x-5 items-center text-gray-600">
                <a class="flex items-center hover:text-gray-900" href="">
                    <i class="fa-regular fa-house"></i>
                    <span class="mr-1">Home</span>
                </a>
                <a class="flex items-center hover:text-gray-900" href="">
                    <i class="fa-brands fa-github"></i>
                    <span class="mr-1">My GitHub</span>
                </a>
                <a class="flex items-center hover:text-gray-900" href="">
                    <i class="fa-solid fa-arrow-right-to-bracket mt-2"></i>
                    <span class="mr-1">Logout</span>
                </a>
            </div>
            <button onclick="toggleElementId('user-simple-menu');toggleHideElementId('user-menu-chevron-down');toggleHideElementId('user-menu-chevron-up')" class="hidden md:flex items-center border-2 border-gray-400 p-1 rounded-md hover:bg-yellow-300 hover:border-yellow-500">
                <i id="user-menu-chevron-down" class="fa-solid fa-chevron-down ml-1" style="display: none;"></i>
                <i id="user-menu-chevron-up" class="fa-solid fa-chevron-up ml-1"></i>
                <span class="ml-1 font-bold text-stone-600">{{request.user.get_full_name }}</span>
                <img class="w-10 h-10 rounded-full" src="./images/user-default-icon.png" alt="">
            </button>
            <ul id="user-simple-menu" class="hidden absolute flex flex-col gap-y-1 mt-1 px-2 py-1 min-w-48 bg-white border-2 rounded-md">
                <li class="hover:bg-amber-200 hover:text-red-600 px-1 rounded-md pb-1"><a href="">Home</a></li>
                <li class="hover:bg-amber-200 hover:text-red-600 px-1 rounded-md pb-1"><a href="">Logout</a></li>
            </ul>

            <button onclick="toggleElementId('mobile-menu')" class="md:hidden">
                <i class="fa-solid fa-bars"></i>
                <!-- <i class="fa-solid fa-x"></i> -->
            </button>

            <!-- Mobile menu -->
            <div id="mobile-menu" class="hidden fixed container mx-auto inset-0 bg-gray-200 rounded-md">
                <div class="flex justify-between px-3 py-2">
                    <a class="flex items-center mr-1 font-bold text-orange-600">
                        <img class="max-w-8 max-h-8" src="./images/file-engine.png" alt="">
                        ExCelery
                    </a>
                    <button onclick="toggleElementId('mobile-menu')" class="md:hidden">
                        <i class="fa-solid fa-bars"></i>
                        <!-- <i class="fa-solid fa-x"></i> -->
                    </button>
                </div>
                <div class="m-4 text-gray-600 border-y-2 py-2 border-gray-400">
                    <a class="flex items-center hover:bg-yellow-200 p-2 rounded-md hover:text-gray-900" href="">
                        <i class="fa-regular fa-house"></i>
                        <span class="mr-2">Home</span>
                    </a>
                    <a class="flex items-center hover:bg-yellow-200 p-2 rounded-md hover:text-gray-900" href="">
                        <i class="fa-brands fa-github"></i>
                        <span class="mr-2">My GitHub</span>
                    </a>

                    {% if request.user.is_authenticated %}
                    <a class="flex items-center hover:bg-yellow-200 p-2 rounded-md hover:text-gray-900" href="">
                        <i class="fa-solid fa-arrow-right-to-bracket mt-2"></i>
                        <span class="mr-2">Logout</span>
                    </a>
                    {% else %}
                    <a class="flex items-center hover:bg-yellow-200 p-2 rounded-md hover:text-gray-900" href="">
                        <i class="fa-light fa-right-to-bracket"></i>
                        <span class="mr-2">Login/Signup</span>
                    </a>
                    {% endif %}
                </div>
            </div>
        </div>
    </nav>
    <!-- Content -->
    <div class="container mx-auto mt-4">
        <div class="flex flex-row gap-3 mt-3">
            <div id="sidbar" class="border min-h-[80vh] xl:w-1/5 w-1/5 md:flex hidden border-gray-400 rounded-lg p-3">
                <ul class="text-center w-full">
                    <a href="./index2.html">
                        <li class="px-3 py-2 rounded-md m-2 border-gray-300 border bg-yellow-400 hover:bg-yellow-300 hover:border-amber-500">
                            Import file
                        </li>
                    </a>
                    <a href="./export.html">
                        <li class="px-3 py-2 rounded-md m-2 border-gray-300 border bg-yellow-200 hover:bg-yellow-300 hover:border-amber-500">
                            Export file
                        </li>
                    </a>
                    
                    {% if request.user.is_authenticated %}
                    <a href="">
                        <li class="px-3 py-2 rounded-md m-2 border-gray-300 border bg-yellow-200 hover:bg-yellow-300 hover:border-amber-500">
                            Logout
                        </li>
                    </a>
                    {% else %}
                    <a href="./auth.html">
                        <li class="px-3 py-2 rounded-md m-2 border-gray-300 border bg-yellow-200 hover:bg-yellow-300 hover:border-amber-500">
                            Login | Signup
                        </li>
                    </a>
                    {% endif %}
                </ul>
            </div>
            <!-- Main -->
            <div id="main" class="border-2 overflow-x-scroll h-[80vh] border-gray-300 bg-gray-200 rounded-lg xl:w-3/5 w-full p-3">
            {% block content %} {% endblock %}
        </div>

        </div>
    </div>

    <script src="{% static 'js/scripts.js' %}"></script>
    <script src="{% static 'js/axios.min.js' %}"></script>
</body>

</html>